<!DOCTYPE html>
<html lang="en">
<head>
	{%- include head.html -%}
</head>
<body>
	<main class="container">
		<section class="about">
			<a href="{{ site.url }}"><img src="{{ "/assets/IMG_2037.JPG" | relative_url }}" alt="{{ site.name }}"></a>
			<a href="{{ site.url }}"><h2>{{ site.title }}</h2></a>
			<p class="tagline">{{ site.subtitle1 }}<br>{{ site.subtitle2 }}<br>{{ site.subtitle3 }}</p>
			<ul class="side-menu">
				<li><a href="{{ site.url }}#slide">Portfolio</a></li>
				<li><a href="{{ site.url }}#experience">Experience</a></li>
				<li><a href="{{ site.url }}#skills">Skills</a></li>
				<li><a href="{{ site.url }}#education">Education</a></li>
			</ul>
			<ul class="social">
				<a href="mailto:{{ site.social_links.email }}"><li><i class="icon-mail-squared"></i></li></a>
			</ul>
		</section>
		<section class="content">
			{{ content }}
		</section>
	</main>
</body>
</html>
